@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rct-color-tree-bg: transparent;
  --rct-item-height: 28px;
  --rct-color-search-highlight-bg: #acccf1;

  --rct-color-tree-focus-outline: transparent;
  --rct-item-margin: 1px;
  --rct-item-padding: 0px;
  --rct-radius: 4px;
  --rct-bar-offset: 6px;
  --rct-bar-width: 4px;
  --rct-bar-color: none;
  --rct-focus-outline: #000000;

  --rct-color-focustree-item-selected-bg: #f0f2f5;
  --rct-color-focustree-item-hover-bg: #f0f2f5;
  --rct-color-focustree-item-hover-text: inherit;
  --rct-color-focustree-item-active-bg: #e4e6eb;
  --rct-color-focustree-item-active-text: #4f4f4f;

  --rct-arrow-size: 10px;
  --rct-arrow-container-size: 16px;
  --rct-arrow-padding: 6px;

  --rct-cursor: pointer;

  --rct-search-width: 120px;
  --rct-search-height: 16px;
  --rct-search-padding: 8px;
  --rct-search-border: #b4b7bd;
  --rct-search-border-bottom: #0366d6;
  --rct-search-bg: #f8f9fa;
  --rct-search-text: #000000;
  --rct-search-text-offset: calc(var(--rct-search-padding) * 2 + 16px);
}

li {
  padding-left: 20px !important;
}

.rct-tree-item-title-container {
  padding-left: 0 !important;
}

/* li::before {
  content: '' !important;
  min-width: 10px !important;
  border-bottom: 1px solid #000;
} */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  position: relative;
  /* margin-top: 1rem; */
  margin-left: 20px !important;
}

ul[role='group']:before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  bottom: 0;
  left: -10px;
  width: 0;
  border-left: 1px solid #000;
}

ul li {
  position: relative;
  margin: 0;
  padding: 7px 15px;
  /* padding: 0; */
}

ul[role='group'] li:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: -10px;
  width: 30px;
  height: 0;
  border-top: 1px solid #000;
}

ul[role='group'] li:last-child:before {
  top: 15px;
  bottom: 0;
  height: auto;
  background-color: #fff;
}
